{{ $folder := .folder }}
{{ $lang := .lang }}
{{ $images := resources.Match (printf "images/%s/*" $folder) }}
<div class="gallery">
  {{ range sort $images "Name" }}
    {{ if or (strings.HasSuffix .Name ".jpg") (strings.HasSuffix .Name ".jpeg") (strings.HasSuffix .Name ".png") (strings.HasSuffix .Name ".webp") }}
      {{ $oriented := .Filter images.AutoOrient }}
      {{ $thumb := $oriented.Resize "1400x webp q80" }}
      {{ $full := $oriented.Resize "2400x webp q85" }}
      {{ $baseName := path.BaseName .Name }}
      {{ $captionPath := printf "images/%s/%s.%s.md" $folder $baseName $lang }}
      {{ $caption := resources.Get $captionPath }}
      <div class="gallery-item">
        <a href="{{ $full.RelPermalink }}" class="lightbox-trigger">
          <img src="{{ $thumb.RelPermalink }}" alt="{{ $baseName }}" loading="lazy" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}">
        </a>
        {{ with $caption }}
          <div class="gallery-caption">{{ .Content | markdownify }}</div>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>
